.cartButton {
    display: none;
    background-color: var(--fade-color);
    border: 2px solid var(--tertiary-color);
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    bottom: 10px;
    right: 15px;
    padding: 22px;
    transition: all 0.4s ease-in-out;
    animation: effect 3.5s infinite;
}

.cartButton:active {
    transform: scale(1.4);
    transition: 0.1s;
}

.cartIcon {
    width: 46px;
    transition: ease 1s;
}

.cartModal {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartTittle {
    text-wrap: wrap;
    font-size: 1.5em;
    text-align: center;
    color: var(--primary-color);
}

.cartModalButton {
    font-weight: 500;
    padding: 15px 60px 15px 60px;
    background-color: var(--subElements-color);
}

.modalContent {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.modalMessage {
    padding: 2em;
    margin-top: 3em;
}

.itemDiv {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 95%;
    height: 120px;
    margin: 0.8em 0.6em 0 0;
    border-bottom: 1px solid var(--primary-color);
}

.imageCart {
    object-fit: cover;
    width: 95px;
    height: 85px;
    border-radius: 50%;
}

.itemLabel {
    max-width: 235px;
    padding: 10px;
    text-align: center;
    align-self: center;
}

.itemName {
    text-wrap: wrap;
    font-size: 1.2em;
    margin-left: 13px;
}

.itemCost {
    font-family: "Mulish", sans-serif;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color);
}

@media (width <365px) {
    .cartTittle {
        text-align: center;
        margin-top: 15px;
        font-size: 1.4em;
    }

    .itemDiv {
        width: 90%;
        margin: 0.2em 0.2em 0 0;
    }

    .imageCart {
        width: 85px;
        height: 80px;
    }

    .itemName {
        font-size: 1em;
        margin: 0 auto;
    }

    .itemCost {
        margin-top: 1px;
        font-size: 1em;
    }
}

@keyframes effect {
    0% {
        box-shadow: 0 0 0 0 var(--tertiary-color);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}