.checkOut {
    font-family: "Mulish", sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.swal-form {
    width: 280px;
    height: 40px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: black;
    text-align: center;
    outline: none;
    transition: box-shadow 0.4s ease;
}

div>.checkOut {
    height: 500px;

    .swal2-html-container {
        height: 300px;
    }
}

.checkTittle {
    color: var(--primary-color);
}

.swal-price {
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-wrap: wrap;
    margin-top: 35px;
    font-size: 1.2em;
}

.swal-form:focus,
.swal-form:active {
    box-shadow: 0 2px 0 var(--primary-color);
    -webkit-box-shadow: 0px 10px 18px -13px rgba(17, 76, 95, 1);
    -moz-box-shadow: 0px 10px 18px -13px rgba(17, 76, 95, 1);
    box-shadow: 0px 10px 18px -13px rgba(17, 76, 95, 1);
}

.closeCheckOut {
    padding: 0px;
    margin-top: 15px;
    position: absolute;
    font-size: 3em;
}

.checkButton {
    font-family: "Poppins", sans-serif;
    padding: 12px 55px 12px 55px;
}

.rejectCheckOut {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding: 25px;
    font-size: 0.9em;
    width: 350px;
    height: 400px;
}

@media (width <=400px) {
    .swal-form {
        width: 260px;
        height: 35px;
        padding: 25px;
    }
}

@media (width <=380px) {
    .swal-form {
        font-size: 1em;
        width: 250px;
        height: 25px;
        padding: 15px;
    }
}

@media (width <360px) {
    .checkTittle {
        margin-top: 20px;
    }

    .swal-form {
        font-size: 0.96em;
        width: 235px;
        height: 35px;
        padding: 15px;
    }

    .swal-price {
        font-size: 1em;
    }

    .checkButton {
        padding: 12px 30px 12px 20px;
    }
}