.navbarController {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.8em 0 0 1em;
    width: 100%;
    position: sticky;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--navbar-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: 600;
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3.5em;
}

.icon {
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

.hamburgerMenu {
    top: 1em;
    width: 42px;
    height: 12px;
    background-color: var(--primary-color);
    position: relative;
}

.hamburgerMenu::before,
.hamburgerMenu::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 12px;
    background-color: var(--primary-color);
    bottom: -15px;
}

.bannerLogo {
    width: 85%;
    height: 3.5em;
}

.closeMenu {
    width: 30px;
    height: 30px;
    top: 25px;
    left: 15px;
    position: absolute;
}

.closeMenu::before,
.closeMenu::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 12px;
    background-color: var(--primary-color);
    top: 50%;
    left: 0;
    transform-origin: center;
}

.closeMenu::before {
    transform: rotate(45deg);
}

.closeMenu::after {
    transform: rotate(-45deg);
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
}

.brand {
    width: 100%;
    height: 4em;
}