/**
* @name style.css
* @file Manage the root of styles and effects.
*/

:root {
    --primary-color: #114B5F;
    --secundary-color: #539489;
    --tertiary-color: #F77F00;
    --other-color: #C6DABF;
    --navbar-color: #f5f1e4;
    --subElements-color: #298779;
    --fade-color: #000000bf;
    --navbar-height: 70px;
}

body {
    min-height: 100vh;
    font-size: 100%;
}

.mainContainer {
    max-width: 500px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}